*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TT Hoves', sans-serif;
    font-size:  calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 400;
}
header {
    margin-top: 37px;
}

section{
    padding: 0 calc(24px + (121 - 24) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: 160px;
}

#hello{
    background-image: url(./img/html_css_js\ 1.png);
    background-repeat: no-repeat;
    background-position: top 121px right 68px;
    background-size: 40%;
}
.flexContainer{
    display: flex;
    justify-content: space-between;
}

.header-logo__img{
    margin-bottom:  calc(28px + (85 - 28) * ((100vw - 375px) / (1280 - 375)));
}

.header-logo__bigImg{
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.header-logo__data{
    display: flex;
    flex-wrap: wrap;
    gap: calc(24px + (160 - 24) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: 78px;

}
@media (max-width:1136px){
    .header-logo__data{
        display: flex;
        flex-direction: column;
    }
}

ul li{
    list-style: none;
    font-weight: bold;
    padding: 5px;
}

.header-logo__title h1{
    font-size: calc(42px + (80 - 42) * ((100vw - 375px) / (1280 - 375)));
    font-family: 'Chava';
}

.header-sing__info{
    max-width: 930px;
    font-size:  calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    margin: 40px 0;
    line-height: 140%;
}
button{
    font-size: 18px;
    width: 328px;
    background-color: white;
    padding: 20px;
    color:  #6E3ABA;
    border-radius: 12px;
    margin-right:   calc(1px + (30 - 1) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom:   calc(40px + (1 - 40) * ((100vw - 375px) / (1280 - 375)));
}
button:hover{
    background-color: #6E3ABA;
    color: white;
}

.main{
    margin-top:   calc(80px + (160 - 80) * ((100vw - 375px) / (1280 - 375)));
}
.main-card{
    display: flex;
    gap: 88px;
    margin-bottom: 57px;
    flex-wrap: wrap;
}
.main-title{
    font-size:  calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    margin-bottom:   calc(65px + (90 - 65) * ((100vw - 375px) / (1280 - 375)));
    line-height: 117%;
}
.card-title{
    font-size:   calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 600;
    margin: 2px 0 20px 0;
    max-width: 430px;
    line-height: 140%px;
}
.card-text{
    max-width: 470px;
    font-size:   calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    line-height: 140%;
}

.purpleBg{
    background-color: #6E3ABA;
}

section.purpleBg{
    text-align: center;
    padding-top: calc(40px + (80 - 40) * ((100vw - 375px) / (1280 - 375)));
    padding-bottom:   calc(41px + (88 - 41) * ((100vw - 375px) / (1280 - 375)));
}

h3{
    font-size:  calc(34px + (52 - 34) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 700;
    line-height: 117%;
    color: #fff;
    text-transform: uppercase;
}

.timer{
    display: flex;
    justify-content: space-between;
    margin-top: calc(20px + (57 - 20) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(20px + (57 - 20) * ((100vw - 375px) / (1280 - 375)));
}

.timerElem .value {
    font-family: "Chava";
    font-size: calc(60px + (174 - 60) * ((100vw - 375px) / (1280 - 375)));
    line-height: 107%;
    color: #2f1d4e;
}
.timerElem .desk {
    font-size: calc(10px + (27 - 10) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 118%;
    color: #2f1d4e;
    text-transform: uppercase;
}



/* 
.teacher .flexContainer{
    flex-wrap: wrap;
    gap: 20px 50px;
}
.main-title{
    font-size:  calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    line-height: 117px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}
.teacherInfo h4{
font-size: calc(38px + (48 - 38) * ((100vw - 375px) / (1280 - 375)));
font-weight: 700;
line-height: 120%;
}
.teacherInfo p {
font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
font-weight: 400;
line-height: 140%;
}

.exp span{
font-size:  calc(16px + (21 - 16) * ((100vw - 375px) / (1280 - 375)));
font-weight: 400;
line-height: 140%;
text-align: left;
} */

.bioTeacher h2 {
font-size: calc(38px + (58 - 38) * ((100vw - 375px) / (1280 - 375)));
font-weight: 500;
line-height: 117%;
text-transform: uppercase;
}
.bio{
    margin-top: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
    display: flex;
    gap: 20px 50px;
    flex-wrap: wrap;
}
.coolTeacher{
    flex-basis: 240px;
    flex-grow: 1;
    max-width: 350px;
    text-align: center;
}
.coolTeacher img{
    width: 100%;
}
@media (max-width: 850px) {
    .coolTeacher img{
        text-align: center;
    }
}
.bioText{
    flex-basis: 340px;
    flex-grow: 3;

}
.bioText h4{
    font-size: calc(36px + (48 - 36) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 700;
    line-height: 120%;  

    
}
.bioText p {
font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
font-weight: 400;
line-height: 137%;
margin-top: calc(10px + (20 - 10) * ((100vw - 375px) / (1280 - 375)));
margin-bottom: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
}
.expirience{
display: flex;
justify-content: space-between;

}
.exp{
 width: calc(156px + (250 - 156) * ((100vw - 375px) / (1280 - 375)));
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.exp img{
width: 36px;

}
.exp span{
font-size: calc(13px + (21 - 13) * ((100vw - 375px) / (1280 - 375)));
line-height: 142%;

}

.bigTitle{
font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
font-weight: 500;
line-height: 117%;
}
.money p{
font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
font-weight: 400;
line-height: 140%;
margin-top: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
margin-bottom: calc(20px + (36 - 20) * ((100vw - 375px) / (1280 - 375)));

}
.moneyimg{
    flex-basis: 1065px;
    flex-grow: 1;

}
.money img{
    width: 100%;
}
.giv .info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(20px + (30 - 20) * ((100vw - 375px) / (1280 - 375)));
}
.giv .info-img{
    flex-basis: 400px;
    flex-grow: 3;
    max-width: 579px;
}
.giv img{
    width: 100%;
}
 .info-text{
    
    display: flex;
    flex-direction: column;
    gap: 20px ;
    max-width: 520px;
}
.info-text span p{
    font-size: calc(18px + (21 - 18) * ((100vw - 375px) / (1280 - 375)));
    line-height: 119%;
}

.diplom{
    /* display: flex;

    flex-wrap: wrap; */
    display: grid;
    grid-template-areas: 
    'img h2'
    'img p';
    gap: 20px;
    grid-template-columns: repeat(1fr, 1fr);
}

@media (max-width:960px) {
    .diplom {
        display: flex;
        flex-direction: column;
    }
    .diplom h2{
        order: -1;
        }
}
.diplom img{
 grid-area: img;
 flex-basis: 328px;
 flex-grow: 1;
}
.diplom h2{
grid-area: h2;
max-width: 578px;
}
.diplom p {
grid-area: p;
font-size:  calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
font-weight: 400;
line-height: 140%;
}